@model SampleApp.Models.Vehicle

@*@{
        ViewBag.Title = "Delete";
        Layout = "~/Views/Shared/_2Layout.cshtml";
    }*@

<div style="width: 75%; margin-left: 12.5%;">
    <input type="hidden" name="V_Status" id="hdnV_Status" value="@Model.VStatus" />
    <input type="hidden" name="V_Region" id="hdnV_Region" value="@Model.VRegion" />
    <input type="hidden" name="V_Location" id="hdnV_Location" value="@Model.VLocation" />
    <br />
    <h2>Vehicle</h2>
    <h3>Transfer</h3>
    <table class="dl-horizontal">
        <tr>
            <td>
                @Html.LabelFor(model => model.id, new { style = "margin-right:12px;" })
            <td />
            <td class="col-md-10">
                @Html.DisplayFor(model => model.id)
            <td />
        <tr />
        <tr>
            <td>
                @Html.LabelFor(model => model.VMake, new { style = "margin-right:12px;" })
            <td />
            <td class="col-md-10">
                @Html.DisplayFor(model => model.VMake)
            <td />
        <tr />
        <tr>
            <td>
                @Html.LabelFor(model => model.VModel, new { style = "margin-right:12px;" })
            <td />
            <td class="col-md-10">
                @Html.DisplayFor(model => model.VModel)
            <td />
        <tr />
        <tr>
            <td>
                @Html.LabelFor(model => model.VVIN, new { style = "margin-right:12px;" })
            <td />
            <td class="col-md-10">
                @Html.DisplayFor(model => model.VVIN)
            <td />
        <tr />
        <tr>
            <td>
                @Html.LabelFor(model => model.VYear, new { style = "margin-right:12px;" })
            <td />
            <td class="col-md-10">
                @Html.DisplayFor(model => model.VYear)
            <td />
        <tr />
        <tr>
            <td>
                @Html.LabelFor(model => model.VType, new { style = "margin-right:12px;" })
            <td />
            <td class="col-md-10">
                @Html.DisplayFor(model => model.VType)
            <td />
        <tr />
    </table>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <dl class="dl-horizontal">
            <dt style="padding-bottom:8px;">
                @Html.LabelFor(model => model.VStatus, new { @class = "control-label col-md-2", @style = "text-align: left;" })
            </dt>
            <dd style="padding-top:8px;">
                @Html.EnumDropDownListFor(model => model.VStatus, new { style = "width: 140px; text-align: left; ", @class = "form-control" })
                @Html.ValidationMessageFor(model => model.VStatus)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt style="padding-bottom:8px;">
                @Html.LabelFor(model => model.VRegion, new { @class = "control-label col-md-2", @style = "text-align: left;" })
            </dt>
            <dd style="padding-top:8px;">
                @Html.DisplayFor(model => model.VRegion)
                @Html.ValidationMessageFor(model => model.VRegion)
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt style="padding-bottom:8px;">
                @Html.LabelFor(model => model.VLocation, new { @class = "control-label col-md-2", @style = "text-align: left;" })
            </dt>
            <dd style="padding-top:8px;">
                @Html.DisplayFor(model => model.VLocation)
                @Html.ValidationMessageFor(model => model.VLocation)
            </dd>
        </dl>
        <div>
            <input type="submit" value="Change" class="btn btn-success" style="margin-top:10px; color:white; height:35px; width:150px" />
            <br />
            <br />
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    }
</div>

@*<head>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<html>
<body>
    <div ng-app>
        <inpute type="text" id="txt1" ng-model="data" /> <br />
        The data is: {{ data }}
    </div>

</body>
</html>*@
